

NET "CLK" LOC = B8;
NET "CLK_BTN" LOC = A7;
NET "CLR" LOC = G12;
NET "EN" LOC = P11;
NET "Q0_1" LOC = G1;
NET "Q1_1" LOC = P4;
NET "Q2_1" LOC = N4;
NET "VY" LOC = M5;

# PlanAhead Generated physical constraints 
